@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 0;
      transform: scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #fff;
  background-color: #fff;
  --text-color: #333;
  --bg-color: #fff;
}

.dark {
  --text-color: #fff;
  --bg-color: #000;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
